# R build files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Compiled files
src/*.o
src/*.so
src/*.dll
src/Makevars

# Build directories
inst/doc

# OS files
.DS_Store
Thumbs.db
/doc/
/Meta/
*.o
*.o
*.o
